* {
    box-sizing: border-box;
}

.svg-inline--fa {
    cursor: pointer;
}


/* mail-app */

.mail-app {
    height: 100%;
}

.mail-app-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding-top: 20px;
}


/* mail-list */

.mail-list {
    flex-grow: 1;
    max-width: 800px;
    padding-inline-start: 20px;
}

.mail-list-container {
    width: 80%;
    margin: auto;
}


/* mail-preview */

.mail-preview-container {
    display: flex;
    justify-content: space-between;
}

.mail-preview-container>* {
    border: solid;
}

.bold {
    font-weight: 700;
}

.starred {
    fill: chocolate;
}

.mail-to {
    width: 30%;
    flex-grow: 1;
}

.mail-subject {
    width: 40%;
    flex-grow: 1;
}


/* mail-filter */

.mail-filter {
    padding-top: 20px;
    padding-inline-start: 20px;
}


/* new-mail */

.new-mail {
    flex-grow: 1;
    /* border: 1px solid black; */
    max-width: 700px;
}

.new-mail form {
    display: flex;
    flex-direction: column;
}

.new-mail input {
    width: 90%;
    border: none;
}

.new-mail label {
    border-bottom: 1px solid black;
}

.new-mail h3 {
    background-color: lightgrey;
}

.new-mail-btn {
    display: flex;
    justify-content: space-between;
}


/* mail-side-bar */

.mail-side-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0;
}

.mail-side-bar-btn button {
    background: none;
    border: none;
}

.mail-side-bar-btn {
    display: inline-flex;
    padding: 10px;
    border: 1px solid black
}


/* mail-details */

.mail-details {
    height: 88vh;
}