*{
    box-sizing: border-box;
}
.keep-filter{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.add-keep-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
}
/* keeps grid */
.keeps-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 36px);
    gap: 5px;
    grid-auto-flow: dense;
    /* display: flex;
    flex-wrap: wrap;
    
    flex-flow: wrap; */
 }

 .keep-img{
     grid-row: span 4;
 }
 .keep-vid{
    grid-row: span 4;
}
.keep-todos{
    grid-row: span 3;
}
.keep-txt{
    grid-row: span 2;
}



/* keep buttons */
.add-keep{
    /* position: absolute; */
    top: 15px;
}
.add-input{
    width: 395px;
}

.added-todo-input{
    max-width: 140px;
}

.upper{
    height: 25px;
}


/* inside the notes and the notes themselves */



.add-keep-btn{
    margin: 15px;
}

.funcs-container{
    padding: 3px;
    display: flex;
    justify-content: space-around;
}

.svg-inline--fa {
    height: 25px;
    width: 25px;
    padding-top: 2px;
}

.font-changer{
    width: 80px;
}

.note-img {
text-align: center;
}

.note-video {
}

.youtube-player{
    width: 100%;
    padding: 0 5px;
    border: none;
}

.note-txt {
}

.note-todo{
}

.note-img img {
    width: 100%;
    padding: 0 5px;
}
.note h3{
    margin: 1px;
    text-align: center;
    padding-bottom: 5px;
}

.note h3:hover{
    cursor: pointer;
}

.note>p {
    margin: 1px;
    margin-inline-start: 5px;
}
.todos-lists{
    margin-inline-start: 5px;
}


.keep-preview-container {
    list-style: none;
    height: fit-content;
}
.keep-preview-container>section{
    border: solid 1px black;
    border-radius: 5px;
}


.funcs-container>*:hover{
    cursor: pointer;
}


.note>p:hover{
    cursor: pointer;
}

.todos-label:hover{
    cursor: pointer;
}

.todos{
    list-style: none;
}

.todos:hover{
    cursor: pointer;
}

/* pinned color */
.ylw{
    color:rgb(252, 252, 10);
}

/* crossing a done todo */
.done{
    text-decoration: line-through;
}