.svg-inline--fa {
    height: 20px;
    width: 20px;
}

.side-bar-btn button {
    background: none;
    border: none;
}

.side-bar-btn {
    padding: 10px;
}

.side-bar {
    /* position: fixed; */
    width: 200px;
}

.note-img {
    max-width: 100%;
    max-height: 250px;
}

.note-img img {
    height: 200px;
}

.keep-preview {
    list-style: none;
    border: solid 1px black;
}

.note>p {
    margin: 1px;
}

.keep-list {
    gap: 30px;
    padding: 10px;
}